# Dependency directories (remove the comment below to include it)
vendor

# Files for testing/debugging
# instances.json is used in /cmd/blob-csi.go. Setup the file to contain
# any fields matching the development environment.
instances.json 

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.txt
*.out

# Binaries for programs and plugins
profiles-controller

# env
.env

# GoLand
.idea

# Debugger artifacts
__debug_bin

# VSCode
.vscode
!.vscode/launch.json

# Python
venv
!requirements.txt

