# Dependency directories (remove the comment below to include it)
vendor

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.txt
*.out

# Binaries for programs and plugins
profiles-controller

# env
.env

# Debugger artifacts
__debug_bin

# VSCode
.vscode
!.vscode/launch.json
